body{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif; ;
}

form{
    padding: 2rem;
    background-color: rgb(198, 218, 248);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 1rem;
}

#submit{
    margin: 2rem;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
}

input.invalid {
    border-color: red;
}

#nameError {
    display: none;
    font-size: 0.8em;
}
  
#nameError.visible {
      display: block;
}

#emailError {
  display: none;
  font-size: 0.8em;
}

#emailError.visible {
    display: block;
}

#emailValidError {
    display: none;
    font-size: 0.8em;
    }
  
#emailValidError.visible {
      display: block;
} 

#passwordError {
    display: none;
    font-size: 0.8em;
}
  
#passwordError.visible {
      display: block;
}
  
 #confirmpasswordError {
    display: none;
    font-size: 0.8em;
}
  
#confirmpasswordError.visible {
      display: block;
}
  
#confirmpasswordError.invisible {
      display: hidden;
}